<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/landing_page.css">
</head> 
<body>
    <div class="container-fluid sticky-top shadow-sm st">
        <div class="container">
          <nav class="navbar d-flex justify-content-between navbar-expand-lg navbar-light py-3 py-lg-0">
            <a href="/" class="navbar-brand">
              <h1 class="m-0 text-uppercase text-primary">
                Ticket Thada
              </h1>
            </a>
            <div class="d-flex gap-2">
            <a  class="btn btn-secondary " href="/admin/addnewshow">Add New Show</a><br>
            <a class="btn btn-light" href="/admin/addnewvenue">Add New Venue</a>
        </div>
          </nav>
        </div>
      </div>
      <div>
      </div>
    
</body>
</html>