<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/login_signup_page.css"/>
  </head>
  
  <script src="../static/js/jquery.min.js"></script>
      <section class="forms-section">
  <h1 class="section-title">Ticket Thada</h1>
  <div class="forms">
    <div class="form-wrapper is-active">
      <button type="button" class="switcher switcher-login">
        Login
        <span class="underline"></span>
      </button>
      <form action="/userlogin" method="post" class="form form-login">
        <fieldset>
          <legend>Please, enter your email and password for login.</legend>
          <div class="input-block">
            <label for="login-email">E-mail</label>
            <input id="login-email" name="email" type="email" required>
          </div>
          <div class="input-block">
            <label for="login-password">Password</label>
            <input id="login-password" name="password" type="password" required>
          </div>
        </fieldset>
        {%if msg%}
        <span>{{msg}}</span>
        {%endif%}
        <button type="submit" class="btn-login">Login</button>
      </form>
    </div>
    <div class="form-wrapper">
      <button type="button" class="switcher switcher-signup">
        Sign Up
        <span class="underline"></span>
      </button>
      
      <form class="form form-signup" id="signup-form" action="/addnewuser" method="post">
        <fieldset>
          <legend>Please, enter your email, password and password confirmation for sign up.</legend>
          <div class="input-block" >
            <label for="signup-name">Full Name</label>
            <input id="signup-name" type="text" name="name" required>
          </div>
          <div class="input-block" >
            <label for="signup-email">E-mail</label>
            <input id="signup-email" name="email" type="email" required>
          </div>
          <div class="input-block">
            <label for="signup-password">Password</label>
            <input id="signup-password" name="password" type="password" required>
          </div>
          <div class="input-block">
            <label for="signup-password-confirm">Confirm password</label>
            <input id="signup-password-confirm" name="con_password" type="password" required>
            <span id="pass-error"></span>
          </div>
        </fieldset>
        <span id="msg" class="d-none">User Already exists..!</span>
        <button type="submit" id="signup-btn" class="btn-signup">Sign Up</button>
      </form>
    </div>
  </div>
  <div>
    <a href="/" class="btn btn-info">Back</a>
  </div>
</section>
      <script>
  const switchers = [...document.querySelectorAll('.switcher')]

switchers.forEach(item => {
	item.addEventListener('click', function() {
		switchers.forEach(item => item.parentElement.classList.remove('is-active'))
		this.parentElement.classList.add('is-active')
	})
})

$(document).ready(() => {


      // Verify is User exits
      $("#signup-btn").on("click", (e) => {
        e.preventDefault();

        const email = $("#signup-email").val();
        

        var password = $('#signup-password').val();
        var confirmPassword = $('#signup-password-confirm').val();

        if (password !== confirmPassword) {
            $('#pass-error').text('Password not matched')
        } else {
          $('#pass-error').text('')
          $.ajax({
            type: "POST",
            url: "/verifyuser",
            data: JSON.stringify({ email: email }),
            contentType: "application/json",
            success: function (res) {
              console.log(!res.msg)
              if (!res.msg) {
                $("#signup-form").submit();
              }
              else{
                $('#msg').removeClass('d-none')
                $('#msg').text(res.err)
                setTimeout(() => {
                  $('#msg').addClass('d-none')
                }, 2000);
              }
            },
            error: function (error) {
              console.error("Error:", error);
            },
          });
        }
      });
    });

</script>
</body>

</html>
